<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="lifeCycle" class="edu.tyut.bean.Lifecycle" init-method="init$spring6_ioc_xml" destroy-method="destroy$spring6_ioc_xml"/>
</beans>